td {
    border-top: 1px solid var(--bs-gray-200);
    border-bottom: 1px solid var(--bs-gray-200);
    border-left: 1px solid var(--bs-gray-200);
}

.input-sz{
    min-width: 80px!important;
}

.input-sz input {
    width: 100%!important;
    padding: 0.7em 2px 0.7em 1em!important;
}



#employee-table i {
    margin-left: 20px;
    cursor: pointer;
}

#employee-table span {
    cursor: pointer;
    color: rgb(0, 204, 255);
}

.editing {
    float: right;
}

#employee-table {
    vertical-align: middle;
}

#employee-table tbody th {
    text-align: center;
}


#modal table {
    border: 1px solid var(--bs-gray-200);
}


input[type="file"] {
    display: none;
}

label.btn {
    text-transform: none;
    width: 100%;
}





#pending_days_modal .table-responsive {
    width: 100%;
    /* background: rgb(255,222,100); */
    border: 1px solid black;
}

#pending_days_modal td, #pending_days_modal th {
    border: 1px solid black;
    padding: 3px 4px;
}

#pending_days_modal button {
    margin: 6px 0;
}

#pending_days_modal td:nth-of-type(3) {
    word-break: break-all;
}

#pending_days_modal td:nth-of-type(4) {
    text-align: center;
}

#filter_tags div {
    display: inline-block;
}

#filter_tags div {
    margin-right: 10px;
}

#filter_tags label {
    margin-left: 3px;
    margin-bottom: 1px;
}
