<section style="padding: 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-2" style="padding-top: 1.8em;">
                <svg id="play_svg" class="bi bi-play-circle" xmlns="http://www.w3.org/2000/svg" width="1em" 
                height="1em" fill="currentColor" viewBox="0 0 16 16" style="color: rgb(255,222,100);">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"></path>
                </svg>
            </div>
            <div class="col-lg-5 col-9" style="padding-top: 3em;">
                <h5>Developed by</h5>
                <h3>PGI</h3>
                <h1 style="margin: 0.5em 0 1em;">Sign up to receive your payroll details</h1>

                <div style="text-align: center;">
                    <a class="btn btn-primary" routerLink="/login" [queryParams]="{sign_up:true}" style="line-height: 12px;">Sign up for an account
                        <i class="bi bi-play-circle" style="font-size: 18px;vertical-align: middle;margin-left: 6px;"></i>
                    </a>
                    <br />
                    <a class="btn btn-primary" routerLink="/dashboard" style="line-height: 12px;">Login
                        <i class="bi bi-play-circle" style="font-size: 18px;vertical-align: middle;margin-left: 6px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>